<template>
  <v-content>
    <ErrorMessage/>
  </v-content>
</template>

<script>
import ErrorMessage from '@/components/ErrorMessage.vue'

export default {
  name: 'Error',
  components: {
    ErrorMessage
  }
}
</script>