<template>
  <v-content>
    <EvaluatorContent/>
  </v-content>
</template>

<script>
import EvaluatorContent from '@/components/EvaluatorContent.vue'

export default {
  name: 'Evaluator',
  components: {
    EvaluatorContent
  }
}
</script>