<template>
  <v-content>
    <LoginContent/>
  </v-content>
</template>

<script>
import LoginContent from '@/components/LoginContent.vue'

export default {
  name: 'Login',
  components: {
    LoginContent
  }
}
</script>