<template>
  <v-content>
    <RekognitionContent/>
  </v-content>
</template>

<script>
import RekognitionContent from '@/components/RekognitionContent.vue'

export default {
  name: 'Rekognition',
  components: {
    RekognitionContent
  }
}
</script>