<template>
  <v-content>
    <TestUserContent/>
  </v-content>
</template>

<script>
import TestUserContent from '@/components/TestUserContent.vue'

export default {
  name: 'TestUser',
  components: {
    TestUserContent
  }
}
</script>