<template>
  <v-container justify="center"
               center="center"
               fluid
               fill-height
               class="black">
    <v-row>
      <v-col lg="12" md="12"
            class="text-center white--text">
        <h1 class="display-4 font-weight-black">{{ errorCode }}</h1>
        <div class="headline">{{ errorMessage }}</div>
        <div>
          <v-btn @click="getMeOutOfHere()"
                  dark
                  color="black">
            Sácame de aquí
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'ErrorMessage',
  data () {
    return {
      errorCode: 404,
      errorMessage: 'Página no encontrada'
    }
  },
  methods: {
    getMeOutOfHere () {
      this.$router.push('/')
    }
  }
}
</script>