<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Evaluador</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="date"
                          label="Fecha"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date"
                        no-title
                        scrollable
                      >
                        <v-spacer></v-spacer>
                        <v-btn
                          text
                          color="primary"
                          @click="menu = false"
                        >
                          Cancel
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu.save(date), showUsers()"
                        >
                          OK
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-combobox
                      v-model="select"
                      :items="users"
                      label="Seleccione un usuario"
                      item-text="nombreReferencia"
                    ></v-combobox>
                  </v-col>
                  <v-col cols="12"
                    sm="6"
                    md="4">
                    <v-btn class ="v-btn v-btn--contained theme--dark v-size--md" 
                    color = "primary"
                    style="width:150px;"
                    @click="showResults(), downloadResults()"
                    >
                        <span class="v-btn_content">
                          Mostrar
                        </span>
                    </v-btn>
                  </v-col>
                  <v-row align = "center" class="pl-9">
                    <v-data-table
                      :headers="headers"
                      :items="tests"
                      :items-per-page="10"
                      class="elevation-1"
                    ></v-data-table>
                  </v-row>

                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn class ="ma-9 v-btn v-btn--contained theme--dark v-size--md" 
                  color = "primary"
                  style="width:150px;"
                  @click="initPage()">
                      <span class="v-btn_content">
                        Atrás
                      </span>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn class ="ma-9 v-btn v-btn--contained theme--dark v-size--md" 
                  color = "primary"
                  style="width:150px;"
                  :href="link"
                  target="_blank"
                >
                    <span class="v-btn_content">
                      Descargar
                    </span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import axios from 'axios';
  export default {
    props: {
      source: String,
    },
    data: () => ({
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      items: [
          {id:'12345', name:'SebastianP1'},
          {id:'12346', name:'RodrigoP2'},
          {id:'12347', name:'SebastianP5'},
      ],
      users: [],
      select: [],
      headers: [
        {
          text: 'Emociones',
          align: 'start',
          sortable: false,
          value: 'emocion',
        },
        { text: 'Tiempo', value: 'tiempo' },
        { text: 'Confianza', value: 'porcentaje'}
      ],
      // emotions: [
      //   { name: 'Felicidad', minute: '0:03' },
      //   { name: 'Felicidad', minute: '0:06' },
      //   { name: 'Neutral', minute: '0:09' },
      //   { name: 'Neutral', minute: '0:12' },
      //   { name: 'Confusión', minute: '0:15' },
      // ]
      tests: [],
      link: null
    }),
    name: 'EvaluatorContent',
    methods: {
      initPage () {
        this.$router.push('/')
      },
      async showUsers () {
        console.log('Showing users')
        let url = process.env.VUE_APP_API_URL + '/Pruebas' + '/' + this.date
        try{
          let response = await axios.get(url);
          console.log(response);
          this.users = response.data.Pruebas;
        } catch (error) {
          console.log(error);
        }
      },
      async showResults () {
        console.log('Showing results')
        let url = process.env.VUE_APP_API_URL + '/Muestras/Prueba' + '/' + this.select.id
        try{
          let response = await axios.get(url);
          console.log(response);
          this.tests = response.data.Muestras
        } catch (error) {
          console.log(error);
        }
      },
      async downloadResults () {
        console.log('Downloading results')
        let url = process.env.VUE_APP_API_URL + '/Muestras/Subtitulos' + '/' + this.select.id
        try{
          let response = await axios.get(url);
          console.log(response);
          this.link = response.data.URL;
        }catch (error) {
          console.log(error);
        }
      }
    }
  }
</script>