<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Página inicial</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <div class="text-center">
                  <v-btn class ="ma-6 v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:200px;"
                  @click="pageUser()">
                      <span class="v-btn_content">
                        Usuario de pruebas
                      </span>
                  </v-btn>

                  <v-btn class ="ma-6 v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:200px;"
                  @click="pageEvaluator()">
                      <span class="v-btn_content">
                        Evaluador
                      </span>
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    name: 'HomeContent',
    methods: {
      pageEvaluator () {
        this.$router.push('/Evaluator')
      },
      pageUser () {
        this.$router.push('/testUser')
      }
    }
  }
</script>