<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Usuario"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Contraseña"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn class ="ma-6 v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:200px;"
                  @click="initPage()">
                      <span class="v-btn_content">
                        Atrás
                      </span>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn class ="ma-6 v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:200px;"
                  @click="evaluatorPage()">
                      <span class="v-btn_content">
                        Ingresar
                      </span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    name: 'LoginContent',
    methods: {
      initPage () {
        this.$router.push('/')
      },
      evaluatorPage () {
        this.$router.push('/evaluator')
      }
    }
  }
</script>