<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Usuario de pruebas</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <!-- -->
              <div class="row">
                <div class="col-md-12 text-center">
                  <h2>Cámara</h2>
                  <code v-if="device">{{ device.label }}</code>
                  <div class="border">
                    <vue-web-cam
                      ref="webcam"
                      :device-id="deviceId"
                      width="100%"
                      @started="onStarted"
                      @error="onError"
                      @cameras="onCameras"
                      @camera-change="onCameraChange"
                    />
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <select v-model="camera">
                        <option>-- Selecciona dispositivo --</option>
                        <option
                          v-for="device in devices"
                          :key="device.deviceId"
                          :value="device.deviceId"
                        >{{ device.label }}
                        </option>
                      </select>
                    </div>
                    <!--
                      <div class="col-md-12">
                        <button type="button" class="btn btn-primary" @click="onCapture2()">Capture Photo</button>
                      </div>-->
                </div>
              </div>
                
                <div class="col-md-12 text-center">
                  <h2>Imagen capturada</h2>
                  <figure class="figure">
                    <img :src="img" class="img-responsive" />
                  </figure>
                </div>

              </div>
              <!-- -->
              <v-card-text>
                <div class="text-center">
                  <v-btn class ="v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:220px;"
                  v-if="!isHidden"
                  v-on:click="isHidden = true; onCapture2()"
                  >
                      <span class="v-btn_content">
                        Iniciar Reconocimiento
                      </span>
                  </v-btn>
                  <v-btn class ="v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:220px;"
                  v-if="isHidden"
                  @click="running = false; back()">
                      <span class="v-btn_content">
                        Detener Reconocimiento
                      </span>
                  </v-btn>
                  <h1 class="white--text">a </h1>
                  <h1 v-if="isHidden">Prueba corriendo...</h1>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import { WebCam } from "vue-web-cam";
  import axios from 'axios';
  import { mapState, mapGetters } from 'vuex';

  export default {
    components: {
      "vue-web-cam": WebCam
    },
    data() {
      return {
        isHidden: false,
        img: null,
        camera: null,
        deviceId: null,
        devices: [],
        running: true,
        time: 0
      }
    },
    computed: {
      device: function() {
        return this.devices.find(n => n.deviceId === this.deviceId);
      },
      ...mapState({
        nameId: 'nameId'
      }),
      ...mapGetters([
        'getName'
      ])
    },
    watch: {
      camera: function(id) {
        this.deviceId = id;
      },
      devices: function() {
        // Once we have a list select the first one
        const [first, ...tail] = this.devices;
        if (first) {
          this.camera = first.deviceId;
          this.deviceId = first.deviceId;
        }
        if (tail){
          this.camera = first.deviceId;
          this.deviceId = first.deviceId;
        }
      }
    },
    props: {
      source: String,
    },
    name: 'RekognitionContent',
    methods: {
      back () {
        this.$router.push('/testUser')
      },
      onCapture2() {
        var that = this;
        this.time = 0;
        var interval = setInterval(function(){
          if(this.running) {
            clearInterval(interval);
          }
          that.img = that.$refs.webcam.capture();
          that.time = that.time + 3;
          that.saveEmotion();
          if(this.running) {
            clearInterval(interval);
          }
        },3000);
        
      },
      // onCapture() {
      //     this.img = this.$refs.webcam.capture();
      // },
      onStarted(stream) {
        console.log("On Started Event", stream);
      },
      onStopped(stream) {
        console.log("On Stopped Event", stream);
      },
      onStop() {
        this.$refs.webcam.stop();
      },
      onStart() {
        this.$refs.webcam.start();
      },
      onError(error) {
        console.log("On Error Event", error);
      },
      onCameras(cameras) {
        this.devices = cameras;
        console.log("On Cameras Event", cameras);
      },
      onCameraChange(deviceId) {
        this.deviceId = deviceId;
        this.camera = deviceId;
        console.log("On Camera Change Event", deviceId);
      },
      async saveEmotion () {
        console.log('Saving emotions')
        var idprueba = this.$store.getters.getName
        let url = process.env.VUE_APP_API_URL + '/Muestras'
        let data = {
          id_prueba : idprueba,
          segundo: this.time,
          imagen: this.img,
        }
        try{
          let response = await axios.post(url,data);
          console.log(response);
        } catch (error) {
          console.log(error);
        }
      }
    }
    
  }
</script>