<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Usuario de pruebas</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="name"
                    label="Nombre Completo"
                    name="register"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn class ="ma-6 v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:200px;"
                  @click="initPage()">
                      <span class="v-btn_content">
                        Atrás
                      </span>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn class ="ma-6 v-btn v-btn--contained theme--dark v-size--large" 
                  color = "primary"
                  style="width:200px;"
                  @click="saveTest(),rekogPage()">
                      <span class="v-btn_content">
                        Registrar
                      </span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import axios from 'axios';
  import { mapState, mapMutations } from 'vuex'

  export default {
    props: {
      source: String,
    },
    name: 'TestUserContent',
    data() {
      return{
        name: null
      }
    },
    computed: {
      ...mapState({
        nameId: 'nameId'
      }),
      ...mapMutations([
        'setName'
      ])
    },
    methods: {
      initPage () {
        this.$router.push('/')
      },
      rekogPage () {
        this.$router.push('/rekognition')
      },
      async saveTest () {
        console.log('Saving test')
        let url = process.env.VUE_APP_API_URL + '/Pruebas'

        let data = {
          nombreReferencia : this.name
        }
        try{
          let response = await axios.post(url,data);
          this.$store.commit('setName',response.data.id)
          console.log(response);
        } catch (error) {
          console.log(error);
        }
      }
    }
  }
</script>